@import "tailwindcss";
@source "../public/nasmode.html";

@theme {
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #faf7f6;
  --color-on-primary-container: #72716d;
  --color-primary-fixed-dim: #c8c6c2;
  --color-surface-container-low: #f5f3f3;
  --color-primary: #5f5e5b;
  --color-on-secondary-container: #722700;
  --color-on-primary-fixed: #1c1c19;
  --color-secondary-fixed: #ffdbce;
  --color-on-secondary-fixed: #370e00;
  --color-tertiary-fixed: #e5e2e1;
  --color-on-surface: #1b1c1c;
  --color-outline-variant: #c8c7be;
  --color-on-error: #ffffff;
  --color-surface-container-highest: #e3e2e2;
  --color-on-tertiary-container: #727171;
  --color-tertiary-fixed-dim: #c8c6c5;
  --color-deep-ink: #1A1A1A;
  --color-outline: #787770;
  --color-error: #ba1a1a;
  --color-surface-variant: #e3e2e2;
  --color-on-primary-fixed-variant: #474743;
  --color-background: #fbf9f9;
  --color-primary-container: #faf7f2;
  --color-secondary-container: #fd8d5e;
  --color-surface-tint: #5f5e5b;
  --color-inverse-primary: #c8c6c2;
  --color-surface-container-lowest: #ffffff;
  --color-on-tertiary-fixed: #1c1b1b;
  --color-secondary: #9c441b;
  --color-inverse-on-surface: #f2f0f0;
  --color-surface-container: #efeded;
  --color-on-secondary: #ffffff;
  --color-on-background: #1b1c1c;
  --color-surface-dim: #dbdad9;
  --color-primary-fixed: #e5e2dd;
  --color-terracotta-accent: #B5562C;
  --color-chapter-ghost: #E5E5E5;
  --color-surface: #fbf9f9;
  --color-tertiary: #5f5e5e;
  --color-on-primary: #ffffff;
  --color-on-error-container: #93000a;
  --color-surface-bright: #fbf9f9;
  --color-inverse-surface: #303031;
  --color-surface-container-high: #e9e8e7;
  --color-on-tertiary-fixed-variant: #474746;
  --color-on-surface-variant: #474741;
  --color-on-secondary-fixed-variant: #7d2d04;
  --color-secondary-fixed-dim: #ffb598;
  --color-ivory-base: #FAF7F2;
  --color-error-container: #ffdad6;

  --font-label-caps: "Inter", sans-serif;
  --font-display-xxl: "EB Garamond", serif;
  --font-headline-lg-mobile: "EB Garamond", serif;
  --font-body-md: "Inter", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-headline-lg: "EB Garamond", serif;
  --font-chapter-number: "Inter", sans-serif;

  --text-label-caps: 12px;
  --text-label-caps--line-height: 100%;
  --text-label-caps--letter-spacing: 0.15em;
  --text-label-caps--font-weight: 600;
  --text-display-xxl: 120px;
  --text-display-xxl--line-height: 110%;
  --text-display-xxl--letter-spacing: -0.02em;
  --text-display-xxl--font-weight: 400;
  --text-headline-lg-mobile: 42px;
  --text-headline-lg-mobile--line-height: 115%;
  --text-headline-lg-mobile--font-weight: 400;
  --text-body-md: 16px;
  --text-body-md--line-height: 160%;
  --text-body-md--font-weight: 400;
  --text-body-lg: 16px;
  --text-body-lg--line-height: 160%;
  --text-body-lg--font-weight: 300;
  --text-headline-lg: 36px;
  --text-headline-lg--line-height: 110%;
  --text-headline-lg--font-weight: 400;
  --text-chapter-number: 160px;
  --text-chapter-number--line-height: 100%;
  --text-chapter-number--letter-spacing: -0.05em;
  --text-chapter-number--font-weight: 700;

  --spacing-container-max: 1440px;
  --spacing-margin-desktop: 80px;
  --spacing-section-gap: 120px;
  --spacing-gutter: 32px;
  --spacing-margin-mobile: 24px;
}
